{{form_start(form)}}
    {{form_row(form.name)}}
    {{form_row(form.description)}}
    {{form_row(form.category)}}
    

    {# on affiche les images si on est en edition #}

    {% if app.request.attributes.get('_route') == 'edit_trick' %}
        <h2>Images</h2>
        {% for media in trick.medias %}
            {% if media.type == 'picture'%}
                <div>
                    <img src=" {{asset('assets/uploads/tricks/mini/300x300-' ~ media.path)}} " alt="image" width="150">
                    <a href=" {{path('delete_image', {id: media.id})}} " data-delete data-token="{{csrf_token('delete' ~ media.id )}}" >Supprimer</a>
                </div>
                {% else %} pas d'image 
            {% endif %}
        {% endfor %}
        <h2>Videos</h2>
        {% for media in trick.medias %}
            {% if media.type == 'video'%}
                <div>
                    <div class="ratio ratio-16x9 mt-3">
                        <iframe allowfullsreen src="{{ media.path }}" frameborder="0" ></iframe>
                    </div>
                    {# <form action="{{ url('delete_video', { id: media.id }) }}" method="post">
                        <input type="hidden" name="token" value="{{ csrf_token('delete-item') }}"/>
                    
                        <button type="submit">Delete item</button>
                    </form> #}

                    <a href=" {{path('delete_video', {id: media.id})}}">Supprimer</a>
                </div> 
                {% else %} pas de video
            {% endif %}
        {% endfor %}
    {% endif %}

    {{form_row(form.images)}}
    <button type="button" class="btn btn-primary add_video_link" data-collection-holder-class="medias">ajouter une video</button>
    <div class="form">
        <ul class="medias"
    data-index="{{ form.medias|length > 0 ? form.medias|last.vars.name + 1 : 0 }}"
    data-prototype="{{ form_row(form.medias.vars.prototype)|e('html_attr') }}"
    >
   
    </ul>
    
    </div>
    

    <button type="submit" class="btn btn-primary"> {{button_label|default('Ajouter')}} </button>
{{form_end(form)}}



    

