{% extends 'base.html.twig' %}

{% block title %}SnowTricks{% endblock %}


{% block body %}
<main class="container">
  
      <div class="bg-image my-3" style="background: center/cover url('assets/pictures/main.jpg')">
       <h1 class="text-center">Partager vos tricks avec la communauté</h1> 
      </div>
  <hr>
    <div class="row text-center">
      <a href="{{path('add_trick')}}">Ajouter une figure</a>
    </div>
  <hr>
  <section class="row row-cols-1 row-cols-md-5 g-4 my-6">
    {% for trick in tricks|slice(0, 5) %}

        <div class="col">
          <div class="card h-100 mb-3">
            {% set chemin = 'defaut.jpg' %}
              {% for media in trick.medias %}
                  {% if  media.main == true %}
                    {% set chemin = media.path %}
                    {% elseif chemin == 'defaut.jpg' %}
                      {% if  media.main == true %}
                        {% elseif  media.type == 'picture' and media.path == trick.medias|first.path %}
                        {% set chemin = media.path %}
                      {% endif %}
                    {% endif %}
              {% endfor %} 

              <img src=" {{asset('assets/uploads/tricks/mini/300x300-') ~ chemin }} " class="card-img-top img-fluid" alt="{{trick.name}}">

              <div class="card-text">
                <div class="row mt-3 ms-3">
                  <div class="col-6"><a href="{{ path('app_trick', {'slug' : trick.slug})}}"><h5 class="card-title">{{trick.name}}</h5></a></div>
                  <div class="col-6">
                    {% if app.user and app.user.isVerified %}
                    <div class="row">
                      <div class="col-6">
                        <a href=" {{path('edit_trick', {'slug' : trick.slug})}} " ><i class="fa fa-edit text-dark"></i></a>
                      </div>
                      <div class="col-6">
                        <a href="{{path('delete_trick', {'slug' : trick.slug})}}" onclick="return confirm('etes vous sur de vouloir supprimer?')" ><i class="fa fa-trash-alt text-dark"></i></a>
                      </div>
                    </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </section>

    <section class = "row row-cols-1 row-cols-md-5 g-4 my-3" id="tricks-container"></section>
    {% if tricks|length >5 %}
    <div class="text-center">
    <button id="load-more" class="btn btn-primary mt-5">Charger plus</button>
    </div>
    {% endif %}

      <script>
        
          const loadMoreBtn = document.getElementById('load-more');
          let offset = 0;
          loadMoreBtn.addEventListener('click', function() {
            
          offset +=5;
        
          const url = '{{ path('more_tricks', {'offset': 0}) }}'.replace('0', offset);
          
          fetch(url)
              .then(response => response.json())
              .then(data => {
                
                
                  const commentContainer = document.getElementById('tricks-container');
                  commentContainer.insertAdjacentHTML('beforeend', data.html);
                  console.log(document.getElementsByClassName("card-img-top").length % 5)
                  if (document.getElementsByClassName("card-img-top").length == {{ tricks|length }}) {
                    loadMoreBtn.style.display = 'none';
                  }
              });

            
      });

      </script>
    
        
</main>
{% endblock %}
