{% extends 'base.html.twig' %}

{% block title %} {{ trick.name }} {% endblock %}

{% block body %}

<div class="container">
    <div class="card" >
        {% set chemin = 'defaut.svg' %}
              {% for media in trick.medias %}
                  {% if media.main == true %}
                    {% set chemin = media.path %}
                    {% elseif chemin == 'defaut.svg' %}
                      {% if media.main == true %}
                        {% elseif  media.type == 'picture' and media.path == trick.medias|first.path %}
                        {% set chemin = media.path %}
                      {% endif %}
                    {% endif %}
              {% endfor %} 
              <img src=" {{asset('assets/uploads/tricks/mini/300x300-') ~ chemin }} " class="card-img-top img-fluid mx-auto" alt="{{trick.name}}">
              <div class="card-img-overlay"> 
                {% if app.user and app.user.isVerified %}
                <a href=" {{path('edit_trick', {'id' : trick.id})}} " ><i class="fa fa-edit"></i></a>
                <a href="{{path('delete_trick', {'id' : trick.id})}}" onclick="return confirm('etes vous sur de vouloir supprimer?')" ><i class="fa fa-trash-alt"></i></a>
              {% endif %}
              <h5 class="card-title text-center">{{ trick.name}}</h5>
              </div>
        <div class="card-body text-center">
        
        <h6 class="card-subtitle mb-2 text-muted">Ajouté le : {{ trick.createdAt|date('d/m/Y à H:i')}}</h6>
        {% if trick.updatedAt is not null %}
        <h6 class="card-subtitle mb-2 text-muted">Modifié le : {{ trick.updatedAt|date('d/m/Y à H:i')}}</h6>
        {% endif %}
        <p class="card-text"> {{trick.category.name}} </p>
        <hr>
        <p class="card-text">{{ trick.description}}</p>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-6">
            {% for media in trick.medias %}
                
                    <img src=" {{asset('assets/uploads/tricks/mini/300x300-') ~ media.path }} " alt="{{trick.name}}">
                
                
                    
                
            {% endfor %}
        </div>
        <div>
            {% for video in trick.videos %}
            <div class="ratio ratio-16x9 mt-3">
                <iframe allowfullsreen src="{{ video.link }}" frameborder="0"></iframe>
            </div>
            {% endfor %}
        </div>
    </div>

    <h3>Commentaires :</h3>
    <div class="row mt-3">
        <div class="col-6">
            {% set sorted_comments = trick.comments|sort((b, a) => a.createdAt <=> b.createdAt) %}
            {% for comment in sorted_comments %}
            <div class="row border border-primary mb-3">
                <div class="col-3">
                    {% if comment.author.avatar is null %}
                        <img src=" {{asset('assets/pictures/avatar.png')}} " alt="{{comment.author.username}}">
                    {% else %}
                        <img src=" {{asset('assets/uploads/avatars/mini/300x300-') ~ comment.author.avatar }} " style="max-width: 50px;" alt="{{trick.name}}">
                     {% endif %}
                </div>
                <div class="col-3">Créé le : {{comment.createdAt|date('d/m/Y à H:i')}} Par : {{comment.author.username}}</div>
                <div class="col-6">{{comment.content}}</div>
            </div>
            
            {% endfor %}
        </div>
    </div>

    <h3>ajouter un commentaire</h3>
    {% if form is defined %}
    {{ form_start(form) }}
    {{ form_widget(form.content) }}
    <button type="submit" class="btn btn-primary my-3">Ajouter un commentaire</button>
    
    {{ form_end(form) }}
    {% endif %}
    
    
</div>




{% endblock %}
